In [2]:
import pandas as pd
df=pd.read_csv("Car_sales.csv")
print(df.head())

    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [3]:
num_attributes=df.shape[1]
print("Number of Attributes:",num_attributes)

Number of Attributes: 15

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB
None

In [8]:
num_rows=df.shape
print(num_rows)

(157, 15)

In [10]:
print(df.shape[0])

157

In [11]:
print(df.shape[0])

157

In [12]:
df_cleaned = df.drop_duplicates()
print("Number of rows before removing duplicates:", df.shape[0])
print("Number of rows after removing duplicates:",
df_cleaned.shape[0])

Number of rows before removing duplicates: 157
Number of rows after removing duplicates: 157

In [13]:
print(df.describe())

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [14]:
print("Number of missing values in each column:")
print(df.isnull().sum())

Number of missing values in each column:
Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [15]:
print(df.isnull().sum().idxmax())

Manufacturer

In [16]:
df.drop(columns=[column_to_drop])

NameError: name 'column_to_drop' is not defined

In [17]:
df.drop(columns=[df.isnull().sum().idxmax()])

,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,21-Sep-15
153,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,24-Nov-14
154,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,25-Jun-15
155,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,26-Apr-15
156,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,14-Nov-15

In [18]:
print(df.isnull().sum())

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [21]:
import pandas as pd
df = pd.read_csv("Car_sales.csv")
# Check missing values before imputation
print("Missing values before:\n", df.isnull().sum())
df["Sales in thousands"].fillna(df["Sales in thousands"].mean(),
inplace=True)
print("Missing values after:\n", df.isnull().sum())
print(df.head())

Missing values before:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
Missing values after:
 Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64
    Manufacturer              Model  Sales in thousands 4-year resale value  \
0  Acura          Integra                        16.919               16.36
1  Acura          TL                             39.384              19.875
2  Acura          CL                             14.114              18.225
3  Acura          RL                              8.588              29.725
4  Audi           A4                             20.397              22.255

  Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0    Passenger               21.5         1.8        140     101.2  67.3
1    Passenger               28.4         3.2        225     108.1  70.3
2    Passenger                  .         3.2        225     106.9  70.6
3    Passenger                 42         3.5        210     114.6  71.4
4    Passenger              23.99         1.8        150     102.6  68.2

  Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0  172.4       2.639          13.2              28      2-Feb-14
1  192.9       3.517          17.2              25      6-Mar-15
2    192        3.47          17.2              26      1-Apr-14
3  196.6        3.85            18              22      3-Oct-15
4    178       2.998          16.4              27     10-Aug-15

In [23]:
# Import necessary library
import pandas as pd

# Load the dataset
df = pd.read_csv("Car_sales.csv")

# Function to find min and max values of any column
def find_min_max(df, column_name):
    min_value = df[column_name].min()
    max_value = df[column_name].max()
    
    # Find the rows with the min and max values
    min_row = df[df[column_name] == min_value]
    max_row = df[df[column_name] == max_value]
    
    return min_value, max_value, min_row, max_row

# Call the function to find min and max for 'Horsepower'
hp_min, hp_max, hp_min_row, hp_max_row = find_min_max(df, "Horsepower")

# Print the results
print("\nHorsepower - Min:", hp_min, "\n", hp_min_row)
print("\nHorsepower - Max:", hp_max, "\n", hp_max_row)

Horsepower - Min: .
      Manufacturer              Model  Sales in thousands 4-year resale value  \
33  Chrysler       Town & Country                  53.48               19.54

   Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
33          Car                  .           .          .         .     .

   Length Curb weight Fuel capacity Fuel efficiency Latest Launch
33      .           .             .               .     13-Jul-15

Horsepower - Max: 92
      Manufacturer              Model  Sales in thousands 4-year resale value  \
62  Hyundai        Accent                         41.184                5.86

   Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
62    Passenger              9.699         1.5         92      96.1  65.7

   Length Curb weight Fuel capacity Fuel efficiency Latest Launch
62  166.7        2.24          11.9              31      9-Oct-14

In [26]:
# Data Preprocessing and Encoding Techniques in Machine Learning

## Importing Libraries

#We will be using `pandas` for data manipulation and `LabelEncoder` from `sklearn` for encoding categorical data.

In [27]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [28]:
## Example: Label Encoding
Label Encoding assigns a unique integer to each category. It is useful for ordinal data (where order matters).

SyntaxError: invalid syntax (863898714.py, line 2)

In [29]:
## Label Encoding Example
Label Encoding assigns a unique integer to each category. It is useful for ordinal data (where order matters).

SyntaxError: invalid syntax (1140421787.py, line 2)

## Label Encoding Example
Label Encoding assigns a unique integer to each category. It is useful for ordinal data (where order matters).

# Data Preprocessing and Encoding Techniques in Machine Learning

## Importing Libraries
We will be using `pandas` for data manipulation and `LabelEncoder` from `sklearn` for encoding categorical data.

In [30]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

## Example: Label Encoding
Label Encoding assigns a unique integer to each category. It is useful for ordinal data (where order matters).

In [31]:
# Sample data
data = {'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red', 'Yellow']}
df = pd.DataFrame(data)

# Applying Label Encoding
encoder = LabelEncoder()
df['Color_encoded'] = encoder.fit_transform(df['Color'])

# Display the DataFrame
print(df)

    Color  Color_encoded
0     Red              2
1    Blue              0
2   Green              1
3    Blue              0
4     Red              2
5  Yellow              3